irmacall/irmacall
irmacall/mono/cs/linux/*.dll
irmacall/mono/cs/windows/*.dll
irmakit/Bin
config.h
config.in
log
core
*.d
*.o
*.a
*.la
*.lo
*.ko
*.so
*.obj
*.exe
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.log
*.lib
*.out
*.exe
*.pdb
*.dylib
*.sock
*.tar.gz
